/*make navbar 100% width freegardless of media queries */
.navbar-wrapper > .container {
	width: 100%;
}

.pad-20 {
	margin-left: 20px;
	margin-right: 20px;
}

.carousel-caption {
    top: 0;
    bottom: auto;
}
.btn-primary {
	background-color: #48CC34;
}
.float-left {
	float: left;
	text-align: left;
}
.float-right {
	float: right;
	text-align: left;
}
.list-left {
	margin-left: 10%;
	text-align: left;
}